body
{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    
}
.container
{
    height: 100vh;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator
{
    display: grid;
    grid-template-columns: repeat(4,60px);
    background-color: rgb(247, 215, 215);
    padding: 10px;
    width: 270px;
    border-radius: 20px;
    box-shadow: 5px 5px 40px lightgreen;
}
input
{
    grid-column: span 4;
    color: black;
    background-color: whitesmoke;
    border: none;
    width: 250px;
    font-size: 30px;
    text-align: end;
    padding:0 5px ;
    height: 60px;
    margin-bottom: 5px;
    border-radius: 20px;
    padding-right: 20px;

}

button
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    padding: 10px;
    border: none;
    font-size: 17px;


}
.equal
{
    height: 50px;
    width: 110px;
    border-radius:20px ;
}

button:hover
{
    background-color: cornsilk;
    cursor: pointer;
}
